h2 {
  text-align: left;
}
/* Ко всей таблице*/
table {
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Все ячейки таблицы, включая заголовок*/
td,
th {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Заголовок таблицы*/
th {
  font-weight: bold;
  background: #eee;
}

tr:nth-child(2n) {
  background: rgba(238, 238, 238, 0.5);
}
